<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- Title -->
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- Links -->
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "About" %} active{% endif %}">
        <a href="/about">About</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "FAQ" %} active{% endif %}">
        <a href="/faq">FAQ</a>
      </li>
      <li class="sidebar-nav-item{% if page.title == "Contact" %} active{% endif %}">
        <a href="/contact">Contact</a>
      </li>
    </ul>

    <!-- Footer -->
    <p>{{ site.authors }}</p>
    <p>&copy; {{ site.time | date: '%Y' }} &bull; <a target="_blank" href="{{ site.github.repo }}">{{ site.data['hash'] }}</a></p>
  </div>
</div>